@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn <a href="https://kinsta.com/knowledgebase/what-is-github/">github</a>.</p>
</div>
