@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <!--Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark cyan fixed-top">
        <div class="container">
            <a class="navbar-brand" href="index.html">
            <img src="images/nav-logo.png" alt="nav-logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
                <ul class="navbar-nav ml-auto">
                    
                    <li class="nav-item active">
                        <a class="nav-link" asp-area="" asp-page="/Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-page="/Gallery">Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-page="/Blog">TravelBlog</a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </nav>

    <!--/.Navbar -->
    <!--Carousel Wrapper-->
    <div id="carousel-thumb" class="carousel slide carousel-fade carousel-thumbnails" data-ride="carousel">
        <!--Slides-->
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <img class="d-block w-100" src="images/banner-image-3.jpg" alt="Second slide">
                 <div class="gradient"></div>
                  <div class="carousel-caption">
                   <h1>Water Lillies in the magical streams of Kerala</h1>
                   <p class="lead">Water Lillies in the magical streams of Kerala...</p>
                   <a class="btn btn-primary" href="about.html"><span>Learn more</span></a>
                  </div>
            </div>
            <div class="carousel-item ">
                <img class="d-block w-100" src="images/banner-image-4.jpg" alt="First slide">
                 <div class="gradient"></div>
                  <div class="carousel-caption">
                   <h1>Woman walking in the green fields.</h1>
                   <p class="lead">Woman walking in the green fields...</p>
                   <a class="btn btn-primary" href="about.html"><span>Learn more</span></a>
                  </div>
            </div>
            
            <div class="carousel-item">
                <img class="d-block w-100" src="images/banner-image-2.jpg" alt="Third slide">
                 <div class="gradient"></div>
                  <div class="carousel-caption">
                   <h1>Beautiful misty mornings of the Vagamon mountains.</h1>
                   <p class="lead">Beautiful misty mornings in the Vagamon mountains...</p>
                   <a class="btn btn-primary" href="index.cshtml"><span>Learn more</span></a>
                  </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="images/banner-image-1.jpg" alt="Third slide">
                 <div class="gradient"></div>
                  <div class="carousel-caption">
                   <h1>Snow white hills of Himachal.</h1>
                   <p class="lead">Snow white hills of Himachal...</p>
                   <a class="btn btn-primary" href="about.html"><span>Learn more</span></a>
                  </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="images/banner-image-1.jpg" alt="Third slide">
                 <div class="gradient"></div>
                  <div class="carousel-caption">
                   <h1>Snow white hills of Himachal.</h1>
                   <p class="lead">Snow white hills of Himachal...</p>
                   <a class="btn btn-primary" href="about.html"><span>Learn more</span></a>
                  </div>
            </div>
        </div>
        <!--/.Slides-->
        <!--/.Controls-->
        <ol class="carousel-indicators">
            <li data-target="#carousel-thumb" data-slide-to="0" class="active"> <img class="d-block w-50" src="images/banner-image-3.jpg" class="img-fluid">
            </li>
            <li data-target="#carousel-thumb" data-slide-to="1"><img class="d-block w-100" src="images/banner-image-4.jpg" class="img-fluid">
                
            </li>
            <li data-target="#carousel-thumb" data-slide-to="2"><img class="d-block w-100" src="images/banner-image-2.jpg" class="img-fluid">
                
            </li>
            <li data-target="#carousel-thumb" data-slide-to="3"><img class="d-block w-100" src="images/banner-image-1.jpg" class="img-fluid">
                
            </li>
        </ol>
    </div>
    <!--/.Carousel Wrapper-->

    <!-- Page Content -->

    <section id="portfolio">
        <div class="container">
            <h2>Recently Added Photographs</h2>
            <div class="row justify-content-center">
                <div class="col-md-12 col-12">
                    <div class="row">
                        <a href="images/banner-image-1.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-xl-6 col-md-4 box-1">
                          <img src="images/banner-image-1.jpg" class="img-fluid">
                            <div class="overlay">
                             <img src="images/comment.png" alt="plus-icon">
                              <div class="text">A Morn of May from Kasol Valley <span>Landscapes</span></div>
                              <div class="count">45</div>
                            </div>
                        </a>
                        <a href="images/banner-image-2.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-xl-3 col-md-4 box-2">
                         <img src="images/banner-image-2.jpg" class="img-fluid">
                           <div class="overlay">
                            <img src="images/comment.png" alt="plus-icon">
                             <div class="text">Foggy February Morning of Vagamon <span>Landscapes</span></div>
                              <div class="count">45</div>
                           </div>
                        </a>
                        <a href="images/banner-image-3ui.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-xl-3 col-md-4 box-2">
                         <img src="images/banner-image-3.jpg" class="img-fluid">
                           <div class="overlay">
                            <img src="images/comment.png" alt="plus-icon">
                             <div class="text">Paddy Field with Water Lillies on a Sunshowering August <span>Landscapes</span></div>
                             <div class="count">369</div>
                           </div>
                        </a>
                    </div>
                    <div class="row">
                        <a href="images/banner-image-4.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-xl-3 col-md-4 box-2">
                          <img src="images/banner-image-4.jpg" class="img-fluid">
                            <div class="overlay">
                             <img src="images/comment.png" alt="plus-icon">
                              <div class="text">Pushkar Town from Papmochan Hills<span>Landscapes</span></div>
                              <div class="count">45</div>
                            </div>
                        </a>
                        <a href="images/banner-image-1.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-xl-3 col-md-4 box-2">
                         <img src="images/banner-image-1.jpg" class="img-fluid">
                           <div class="overlay">
                            <img src="images/comment.png" alt="plus-icon">
                             <div class="text">Man standing on the middle of the road in the morning <span>Landscapes</span></div>
                              <div class="count">45</div>
                           </div>
                        </a>
                        <a href="images/banner-image-2.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-xl-6 col-md-4 box-1">
                         <img src="images/banner-image-2.jpg" class="img-fluid">
                           <div class="overlay">
                            <img src="images/comment.png" alt="plus-icon">
                             <div class="text">Man standing on the middle of the road in the morning <span>Landscapes</span></div>
                             <div class="count">45</div>
                           </div>
                        </a>
                    </div>
                    @* <div class="row">
                        <a href="https://unsplash.it/1200/768.jpg?image=257" data-toggle="lightbox" data-gallery="example-gallery" class="col-xl-6 col-md-4 box-1">
                          <img src="https://unsplash.it/600.jpg?image=257" class="img-fluid">
                            <div class="overlay">
                             <img src="images/comment.png" alt="plus-icon">
                              <div class="text">Man standing on the middle of the road in the morning <span>Landscapes</span></div>
                              <div class="count">45</div>
                            </div>
                        </a>
                        <a href="https://unsplash.it/1200/768.jpg?image=258" data-toggle="lightbox" data-gallery="example-gallery" class="col-xl-3 col-md-4 box-2">
                         <img src="https://unsplash.it/600.jpg?image=258" class="img-fluid">
                           <div class="overlay">
                            <img src="images/comment.png" alt="plus-icon">
                             <div class="text">Man standing on the middle of the road in the morning <span>Landscapes</span></div>
                              <div class="count">45</div>
                           </div>
                        </a>
                        <a href="https://unsplash.it/1200/768.jpg?image=259" data-toggle="lightbox" data-gallery="example-gallery" class="col-xl-3 col-md-4 box-2">
                         <img src="https://unsplash.it/600.jpg?image=259" class="img-fluid">
                           <div class="overlay">
                            <img src="images/comment.png" alt="plus-icon">
                             <div class="text">Man standing on the middle of the road in the morning <span>Landscapes</span></div>
                             <div class="count">45</div>
                           </div>
                        </a>
                    </div> *@
                </div>
            </div>
        </div>
    </section>

    <section class="blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 left-side">
                    <h2>My Recent Blog Posts</h2>
                    <div class="row">
                        <div class="col-md-6">
                            <figure class="figure">
                                <a href="single.html"><img src="images/banner-image-1.jpg" class="figure-img img-fluid" alt="A generic square placeholder image with rounded corners in a figure."></a>
                                <figcaption class="figure-caption"> <img src="images/comment.png" alt=""><span>45</span>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="col-md-6">
                            <h4><a href="single.html">Kasol:Mystic Riverside Hill Town in Himalayan Valley</a></h4>
                            <div class="btn-group">
                                <a href="single.html" class="btn btn-danger">Kasol, India</a>
                                <button class="btn btn-primary"><i class="fa fa-eye" aria-hidden="true"></i> 345</button>
                            </div>
                            <p>Posted on : 23.05.2016</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <figure class="figure">
                                <a href="single.html"><img src="images/banner-image-2.jpg" class="figure-img img-fluid" alt="A generic square placeholder image with rounded corners in a figure."></a>
                                <figcaption class="figure-caption"> <img src="images/comment.png" alt=""><span>45</span>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="col-md-6">
                            <h4><a href="single.html">Vagamon: Hidden Gem Of Idukki With A Box Full Of Magic </a></h4>
                            <div class="btn-group">
                                <a href="single.html" class="btn btn-danger">Vagamon, India</a>
                                <button class="btn btn-primary"><i class="fa fa-eye" aria-hidden="true"></i> 345</button>
                            </div>
                            <p>Posted on : 23.05.2016</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <figure class="figure">
                                <a href="single.html"><img src="images/banner-image-3.jpg" class="figure-img img-fluid" alt="A generic square placeholder image with rounded corners in a figure."></a>
                                <figcaption class="figure-caption"> <img src="images/comment.png" alt=""><span>45</span>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="col-md-6">
                            <h4><a href="single.html"></a>Streams of Wonders : Ernakulam Paddies </h4>
                            <div class="btn-group">
                                <a href="single.html" class="btn btn-danger">Keecheri, India</a>
                                <button class="btn btn-primary"><i class="fa fa-eye" aria-hidden="true"></i> 345</button>
                            </div>
                            <p>Posted on : 23.05.2016</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <figure class="figure">
                                <a href="single.html"><img src="images/banner-image-4.jpg" class="figure-img img-fluid" alt="A generic square placeholder image with rounded corners in a figure."></a>
                                <figcaption class="figure-caption"><img src="images/comment.png" alt=""><span>45</span>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="col-md-6">
                            <h4><a href="single.html">Hippie Heaven: A Lake Town Walled with Hills and Desert</a></h4>
                            <div class="btn-group">
                                <a href="single.html" class="btn btn-danger">Pushkar, India</a>
                                <button class="btn btn-primary"><i class="fa fa-eye" aria-hidden="true"></i> 345</button>
                            </div>
                            <p>Posted on : 23.05.2016</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="right-side">
                                <h3>Who is Me ?</h3>
                                <figure>
                                    <img src="images/banner-image-3.jpg" alt="">
                                </figure>
                                <p>Travel trails of a backpack traveller.I love to travel.I have been to many beautiful places and met interesting people through my journey.Welcome to the experience.</p>
                                <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-youtube-square" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-pinterest-square" aria-hidden="true"></i></a>
                                <address>
                               <span>+91 9898989898</span>
                               <span>mail@Email.com</span>
                           </address>
                                @* <h2>Quick Contact</h2>
                                <form id="contact" method="post" class="form" role="form">
                                    <div class="row">
                                        <div class="col-xs-6 col-md-6 form-group">
                                            <input class="form-control" id="name" name="name" placeholder="Name" type="text" required/>
                                        </div>
                                        <div class="col-xs-6 col-md-6 form-group">
                                            <input class="form-control" id="email" name="email" placeholder="Email" type="email" required />
                                        </div>
                                    </div>
                                    <textarea class="form-control" id="message" name="message" placeholder="Message" rows="5"></textarea>
                                    <br />
                                    <div class="row">
                                        <div class="col-xs-12 col-md-12 form-group">
                                            <button class="btn btn-primary" type="submit">Alright Submit it</button>
                                        </div>
                                    </div>
                                </form> *@
                                
                                <big class=multicolortext>&nbsp;"TRAVEL <br>
                                     &emsp;&emsp; IS  <br>
                                     &emsp;&emsp;&emsp; MY  <br>
                                     &emsp;&emsp;&emsp;&emsp; THERAPY"</big>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    

